.header_main-page {
    height: 6em;
    position: static;
    padding: 1em;
}

.main-page-header__sort {
    display: flex;
    justify-content: center;
}

.main-page-header__item {
    margin: 1em 0;
}
