<a routerLink="">back</a>

<form [formGroup]="newsAddForm" #formDir="ngForm">

    <div [hidden]="formDir.submitted">

        <div class="form-group">
            <label for="title">Заголовок</label>
            <input id="title" class="form-control" formControlName="title" required >
        </div>

        <div class="form-group">
            <label for="news-description">Описание</label>
            <textarea id="news-description" rows="8" cols="40" required formControlName="description"></textarea>
        </div>

        <button type="submit" class="btn btn-default" [disabled]="newsAddForm.invalid" (click)="onSubmit()">Submit</button>
    </div>
</form>
