<app-inner-page-header></app-inner-page-header>

<form [formGroup]="AddTransactionForm" #formDir="ngForm" class="add-news-page">

    <div [hidden]="formDir.submitted">
        <div>
            <label for="amount">Сумма</label>
            <input id="amount"formControlName="amount" required >
        </div>

        <label for="currency">Валюта</label>
        <select id="currency" formControlName="currency" required >
            <option *ngFor="let item of curencyList | keys" [value]="item.key">{{ item.value }}</option>
        </select>

        <div>
            <label for="sender">Отправитель</label>
            <input id="sender" formControlName="sender" required >
        </div>

        <div>
            <label for="news-description">Описание</label>
            <textarea id="news-description" rows="8" cols="40" required formControlName="description"></textarea>
        </div>

        <button type="submit" [disabled]="AddTransactionForm.invalid" (click)="onSubmit()">Submit</button>
    </div>
</form>
