.sort-option {
    color: hsl(55, 96%, 48%);
    font-weight: 700;
    font-size: 1.2em;
    display: inline-block;
    border: 0.2em solid hsl(55, 96%, 48%);
    padding: 0.5em;
    cursor: pointer;
}

.sort-option_active {
    background-color: hsl(55, 96%, 48%);
    color: hsl(358, 77%, 56%);
}
